# ===============================
# OS files
# ===============================
.DS_Store

# ===============================
# IDE files
# ===============================
.idea/
*.iml

# ===============================
# Flutter / Dart
# ===============================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# ===============================
# iOS build files
# ===============================
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# ===============================
# Android build files
# ===============================
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
